/* style.css */

/* Font face definitions */
@font-face {
    font-family: 'FiraCode';
    src: url(../Fonts/FiraCode-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode';
    src: url(../Fonts/FiraCode-SemiBold.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode';
    src: url(../Fonts/FiraCode-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode';
    src: url(../Fonts/FiraCode-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General settings */
body {
    font-family: 'FiraCode', Arial, sans-serif;
    background-color: #e0f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4fc3f7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-right: auto;
    margin-left: 15px;
    color: white;
    font-weight: bold;
}

header button {
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
    margin-right: 20px;
}

header button:hover {
    background-color: #0277bd;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 10px;
    border: 1px solid #0288d1;
    border-radius: 4px;
    margin-right: 10px;
    font-weight: 500;
}

.search-box submit {
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.search-box submit:hover {
    background-color: #0277bd;
}

main {
    padding: 20px;
}

#heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#heading h5 {
    margin: 0;
    font-weight: normal;
}

#newNoteBtn {
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
}

#newNoteBtn:hover {
    background-color: #0277bd;
}

#searchResults h5 {
    margin-top: 0;
    font-weight: normal;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

ol li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
}

ol li div {
    flex-grow: 1;
}

ol li button {
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
}

ol li button:hover {
    background-color: #0277bd;
}

aside {
    padding: 20px;
    background-color: #e1f5fe;
}

#noteForm,
#editForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#noteForm h5,
#editForm h5 {
    margin-top: 0;
    font-weight: normal;
}

#noteForm input[type="text"],
#noteForm textarea,
#editForm input[type="text"],
#editForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0288d1;
    border-radius: 4px;
    font-weight: normal;
}

#noteForm submit,
#editForm button {
    background-color: #0288d1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: bold;
}

#noteForm submit:hover,
#editForm button:hover {
    background-color: #0277bd;
}

footer {
    background-color: #4fc3f7;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer span {
    margin: 0 10px;
}

footer img {
    width: 70px;
    height: 70px;
}
header img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
}